# Dependencies
node_modules/
/server/node_modules
/client/frontend/node_modules

# Environment Variables
.env
/server/.env
/client/frontend/.env

# Build folder
/client/frontend/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

